@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Wix_Madefor_Text';
    src: url('/fonts/Wix_Madefor_Text') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}